
   
     
 
h1{
   background-color: color rgb(0, 255, 191);
      color: rgb(0, 0, 0);
      text-align: center;
      text-shadow: red  4px 3px 4px ;

}

h3{  text-align: center;
     list-style-type: none; 
   
   text-shadow: purple 4px 3px 4px;
   
   
   
   }
     
     
  

ul{
   text-align: center;
   list-style: none

}

img{ background-position: center; }

h4  {text-align: center;}

 ol{ list-style: none; }

 body{ background-color: black;
      margin: 30%;


}

 h2{

    color: firebrick;
    text-align: center;





 }
 p{
    text-align: center;


 }
h5{

          text-align: center;



}
body{


   

     background-color: rgb(78, 77, 77);
}






               










